@tailwind base;
@tailwind components;
@tailwind utilities;

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

#nprogress .bar {
  background: black;
}

#nprogress .peg {
  box-shadow: 0 0 10px black, 0 0 5px black;
}